*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* body{
    background-image: url(./images.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 400px;

} */
.logo{
    width: 70px;
    height: 40px;
    border-radius: 20px;
}
.link{
    background-color: blueviolet;
    margin-left: 15px;
    color: #fff;
    border-radius: 10px;
}
.link:hover{
    color: #fff;
    background-color: blue;
}
.content{
    background-color: bisque;
}
.card-img-top{
    height: 200px;
}
.section-1{
    margin-top: 50px;
}
h1{
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: 20px ;
    text-align: center;
    text-transform: uppercase;
 
}
p{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
  text-align: center;
  text-transform:capitalize; 
  margin-top: 10px;
  line-height: 25px;
}
.section-3-side-2{
    background-color: blueviolet;
}
.side-2-h1{
    color: #fff;
}
.side-2-p{
    color: #fff;
}
.link-last{
    margin-top: 50px;
    border-radius: 10px;
    background-color: blueviolet;
    color: #fff;
 
}
